#home {
    position: relative;

    #logo {
        position: fixed;
        left    : 50px;
        top     : 0;
        z-index : 1;

        @media @phone {
            left: 0px;
        }
    }

    >header {
        height             : 1300px;
        background-image   : url(/images/main.png);
        background-repeat  : no-repeat;
        background-position: center top;
        position           : relative;
        margin-bottom      : 100px;

        @media @phone {
            height         : auto;
            background-size: 100% auto;
            padding        : 0 60px;
        }

        >.welcome {
            padding-top: 484px;
            font-family: DungGeunMo;
            color      : #BFC500;
            text-shadow: 5px 5px 5px #656565;
            text-align : center;
            font-size  : 50px;

            @media @phone {
                padding-top: 400px;
                text-align : left;
                line-height: 1.5em;
            }
        }

        >.intro {
            margin-top : 12px;
            font-size  : 30px;
            font-family: DungGeunMo;
            text-align : center;

            @media @phone {
                text-align : left;
                line-height: 1.5em;
            }
        }

        >.slogan {
            margin    : auto;
            margin-top: 429px;
            width     : 1130px;

            >img {
                float: left;
            }

            >.panel {
                float           : right;
                width           : 900px;
                height          : 200px;
                text-align      : left;
                padding         : 20px;
                font-size       : 30px;
                line-height     : 1.5em;
                padding-right   : 100px;
                font-family     : DungGeunMo;
                border          : 5px solid #4B6F67;
                box-shadow      : 15px 15px 10px 0px rgba(75, 111, 103, 50);
                background-color: #000000;
            }

            >.panel-intro {
                clear      : both;
                width      : 1000px;
                margin     : auto;
                padding-top: 40px;
                font-family: DungGeunMo;
                color      : #BFC500;
                font-size  : 20px;
            }

            @media @phone {
                margin-top: 80px;
                width     : auto;

                >img {
                    float        : none;
                    margin-left  : 80px;
                    margin-bottom: -20px;
                    width        : 150px;
                }

                >.panel {
                    float: none;
                    width: auto;
                }

                >.panel-intro {
                    width: auto;
                }
            }
        }
    }

    >section {
        width  : 1000px;
        margin : auto;
        padding: 80px 0;

        @media @phone {
            width  : auto;
            padding: 80px 40px;
        }

        >.banner {
            margin-bottom: 40px;
            text-align   : center;
            line-height  : 0;
        }

        >h2 {
            font-size    : 40px;
            font-family  : DungGeunMo;
            color        : #FF00F6;
            text-shadow  : 5px 5px 5px #656565;
            margin-bottom: 40px;
            text-align   : center;
        }

        p {
            font-size  : 20px;
            line-height: 2em;

            @media @phone {
                font-size : 30px;
                word-break: break-all;
            }

            a {
                color: #BFC500;
            }
        }

        >.loadmap {
            width     : 900px;
            margin    : auto;
            margin-top: 100px;

            @media @phone {
                width: auto;
            }

            >h3 {
                color      : #00DCFF;
                text-shadow: 5px 5px 5px #656565;
                font-size  : 50px;
                font-family: DungGeunMo;
            }

            >p {
                background-color: #121013;
                height          : 120px;
                padding         : 20px;

                @media @phone {
                    height: 280px;
                }
            }

            &:nth-child(odd) {
                >h3 {
                    text-align: right;
                }
            }

            &:nth-child(2) {
                >p {
                    border    : 5px solid #4B6F67;
                    box-shadow: 15px 15px 10px 0px rgba(75, 111, 103, 50);
                }
            }

            &:nth-child(3) {
                >p {
                    border    : 5px solid #756946;
                    box-shadow: 15px 15px 10px 0px rgba(117, 105, 70, 50);
                }
            }

            &:nth-child(4) {
                >p {
                    border    : 5px solid #4F5258;
                    box-shadow: 15px 15px 10px 0px rgba(79, 82, 88, 50);
                }
            }

            &:nth-child(5) {
                >p {
                    border    : 5px solid #707070;
                    box-shadow: 15px 15px 10px 0px rgba(0, 220, 255, 50);
                }
            }
        }

        >.video {
            margin    : auto;
            margin-top: 100px;
            width     : 1000px;
            display   : block;

            @media @phone {
                width: 100%;
            }
        }
    }
}