#matedetail {
    width  : 1000px;
    padding: 180px 0;
    margin : auto;

    @media @phone {
        width  : auto;
        padding: 180px 40px;
    }

    >h1 {
        font-size    : 40px;
        font-family  : DungGeunMo;
        color        : #FF00F6;
        text-shadow  : 5px 5px 5px #656565;
        margin-bottom: 40px;
        text-align   : center;
    }

    >img {
        display      : block;
        margin       : auto;
        margin-bottom: 70px;
    }

    >p {
        font-family: DungGeunMo;
        line-height: 45px;
    }

    >a {
        font-family: DungGeunMo;
        line-height: 45px;
        color      : #BFC500;
    }

    >h3 {
        margin-top   : 70px;
        margin-bottom: 40px;
        font-size    : 40px;
        color        : #BFC500;
    }
}