@import "base.less";
@import "font.less";

body {
    font-family     : BankGothic;
    background-color: #000000;
    color           : #FFFFFF;
    font-size       : 30px;
    min-width       : 1280px;
}

a {
    text-decoration: inherit;
}

@media @tablet-and-phone {
    body {
        zoom: 0.5;
    }
}

@media @phone {
    body {
        min-width: auto;
    }
}

@import "view/layout.less";
@import "view/home.less";
@import "view/mate.less";
@import "view/matedetail.less";
@import "view/gallery.less";
@import "view/activities.less";
@import "view/activity/dogesound.less";
@import "view/activity/matename.less";
@import "view/activity/matemessage.less";
@import "view/achievement/fully-on-chain.less";
@import "view/terms.less";

@import "component/mate.less";
@import "component/rank.less";
@import "component/doge-sound-contest.less";
@import "component/period-triangle.less";
@import "component/register-candidate-form.less";
@import "component/vote-button.less";
@import "component/candidate.less";
@import "component/message.less";
@import "component/name-form.less";
@import "component/message-form.less";
@import "component/owned-mates.less";
@import "component/load-image-form.less";