@import "base.less";
@import "font.less";

body {
    font-family     : BankGothic;
    background-color: #000000;
    color           : #FFFFFF;
    font-size       : 30px;
    min-width       : 1280px;
}

a {
    text-decoration: inherit;
}

#root {
    position: relative;

    >header {
        position       : absolute;
        top            : 0;
        left           : 50%;
        z-index        : 2;
        width          : 1280px;
        margin-left    : -640px;
        display        : flex;
        justify-content: center;
        padding        : 30px 0;

        >a {
            padding  : 0 50px;
            color    : #06BC00;
            font-size: 25px;
        }
    }

    >footer {
        margin    : auto;
        margin-top: 100px;
        padding   : 53.5px 0;
        width     : 1280px;
        border-top: 1px solid #ffffff;
        text-align: right;
    }
}

@import "view/home.less";