html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'BankGothic';
  src: url("../fonts/bankgothic.woff2") format("woff2"), url("../fonts/bankgothic.woff") format("woff");
}
@font-face {
  font-family: 'DungGeunMo';
  src: url("../fonts/neodgm.woff2") format("woff2"), url("../fonts/neodgm.woff") format("woff");
}
body {
  font-family: BankGothic;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 30px;
  min-width: 1280px;
}
a {
  text-decoration: inherit;
}
#root {
  position: relative;
}
#root > header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  width: 1280px;
  margin-left: -640px;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
#root > header > a {
  padding: 0 50px;
  color: #06BC00;
  font-size: 25px;
}
#root > header > a.ready {
  color: #6D6D6D;
}
#root > .language {
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 2;
  color: #BFC500;
  font-family: DungGeunMo;
  font-size: 25px;
}
#root .menu-bar {
  position: absolute;
  top: 120px;
  left: 60px;
  z-index: 2;
  width: 300px;
}
#root .menu-bar > h4 {
  font-size: 50px;
}
#root .menu-bar > .menus > .menu {
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 25px;
}
#root .menu-bar > .menus > .menu.on {
  color: #FBFF72;
}
#root .menu-bar > .menus > .menu.ready {
  color: #6E6E6E;
}
#root .menu-bar > .menus > .menu > a {
  color: inherit;
}
#root > footer {
  margin: auto;
  margin-top: 100px;
  padding: 53.5px 0;
  width: 1280px;
  border-top: 1px solid #ffffff;
  text-align: right;
  font-family: DungGeunMo;
}
#root > footer > a {
  color: #BFC500;
}
#home {
  position: relative;
}
#home #logo {
  position: fixed;
  left: 50px;
  top: 0;
  z-index: 1;
}
#home > header {
  height: 1300px;
  background-image: url(/images/main.png);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  margin-bottom: 100px;
}
#home > header > .welcome {
  padding-top: 484px;
  font-family: DungGeunMo;
  color: #BFC500;
  text-shadow: 5px 5px 5px #656565;
  text-align: center;
  font-size: 50px;
}
#home > header > .intro {
  margin-top: 12px;
  font-size: 30px;
  font-family: DungGeunMo;
  text-align: center;
}
#home > header > .panel {
  margin: auto;
  margin-top: 429px;
  width: 1159px;
  height: 229px;
  background-image: url(/images/top.png);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: left;
  padding: 20px;
  padding-left: 260px;
  font-size: 30px;
  line-height: 1.5em;
  padding-right: 100px;
  font-family: DungGeunMo;
}
#home > header > .panel-intro {
  width: 1000px;
  margin: auto;
  font-family: DungGeunMo;
  color: #BFC500;
  font-size: 20px;
}
#home > section {
  width: 1000px;
  margin: auto;
  padding: 80px 0;
}
#home > section > .banner {
  margin-bottom: 40px;
  text-align: center;
}
#home > section > h2 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#home > section p {
  font-size: 20px;
  line-height: 2em;
}
#home > section p a {
  color: #BFC500;
}
#home > section > .loadmap {
  margin-top: 100px;
}
#home > section > .loadmap > h3 {
  color: #00DCFF;
  text-shadow: 5px 5px 5px #656565;
  font-size: 50px;
  font-family: DungGeunMo;
}
#home > section > .loadmap > p {
  background-color: #121013;
  height: 120px;
  padding: 20px;
}
#home > section > .loadmap:nth-child(odd) > h3 {
  text-align: right;
}
#home > section > .loadmap:nth-child(2) > p {
  border: 5px solid #4B6F67;
  box-shadow: 15px 15px 10px 0px #4b6f67;
}
#home > section > .loadmap:nth-child(3) > p {
  border: 5px solid #756946;
  box-shadow: 15px 15px 10px 0px #756946;
}
#home > section > .loadmap:nth-child(4) > p {
  border: 5px solid #4F5258;
  box-shadow: 15px 15px 10px 0px #4f5258;
}
#home > section > .loadmap:nth-child(5) > p {
  border: 5px solid #707070;
  box-shadow: 15px 15px 10px 0px #00dcff;
}
#home > section > .video {
  margin: auto;
  margin-top: 100px;
  width: 1000px;
  display: block;
}
#mate {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
#mate > h1 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#mate > section {
  margin-top: 80px;
}
#mate > section > h2 {
  font-size: 40px;
  color: #BFC500;
  margin-bottom: 40px;
}
#mate > section p {
  font-size: 20px;
  line-height: 2em;
}
#mate > section p a {
  color: #BFC500;
}
#mate > section.mates > h2 {
  font-size: 29px;
}
#mate > section.mates > .all {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
#gallary {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
#gallary .mate-list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#gallary .mate-list > p {
  margin-top: 20px;
  text-align: center;
}
#gallary .mate-list > .mate {
  float: left;
  position: relative;
  width: 120px;
  height: 120px;
  background-size: 100% 100%;
  color: #ffffff;
}
#gallary .mate-list > .mate > span {
  position: absolute;
  left: 5px;
  bottom: 0;
  font-family: DungGeunMo;
}
#gallary .menu-bar .filter {
  display: block;
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  font-size: 25px;
  font-family: BankGothic;
}
#gallary .menu-bar .reset-filter {
  margin-top: 20px;
  display: block;
  font-size: 30px;
  color: #000000;
  background-color: #FBFF72;
  box-shadow: 10px 10px 0px 0px #BFC500;
  text-transform: uppercase;
  font-weight: bold;
  padding: 24px 0;
  text-align: center;
}
#activities {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
#activities > h1 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#activities > section {
  margin-top: 80px;
}
#activities > section > h2 {
  font-size: 30px;
  color: #BFC500;
  margin-bottom: 10px;
}
#activities > section > h2.ready {
  color: #6E6E6E;
}
#activities > section > h2 > a {
  color: inherit;
}
#activities > section p {
  font-size: 20px;
  line-height: 2em;
}
#activities > section p a {
  color: #BFC500;
}
#terms {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
#terms > h1 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#terms > section {
  margin-top: 80px;
}
#terms > section > h2 {
  font-size: 40px;
  color: #BFC500;
  margin-bottom: 40px;
}
#terms > section p {
  font-size: 20px;
  line-height: 2em;
}
#terms > section p a {
  color: #BFC500;
}

