html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'BankGothic';
  src: url("../fonts/bankgothic.woff2") format("woff2"), url("../fonts/bankgothic.woff") format("woff");
}
@font-face {
  font-family: 'DungGeunMo';
  src: url("../fonts/neodgm.woff2") format("woff2"), url("../fonts/neodgm.woff") format("woff");
}
body {
  font-family: BankGothic;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 30px;
  min-width: 1280px;
}
a {
  text-decoration: inherit;
}
#root {
  position: relative;
}
#root > header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  width: 1280px;
  margin-left: -640px;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
#root > header > a {
  padding: 0 50px;
  color: #06BC00;
  font-size: 25px;
}
#root > footer {
  margin: auto;
  margin-top: 100px;
  padding: 53.5px 0;
  width: 1280px;
  border-top: 1px solid #ffffff;
  text-align: right;
}
#home {
  position: relative;
}
#home #logo {
  position: absolute;
  left: 50px;
  top: 0;
  z-index: 1;
}
#home > header {
  height: 1151px;
  background-image: url(/images/main.png);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  margin-bottom: 100px;
}
#home > header > .panel {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 40px;
  text-align: center;
  font-size: 40px;
  line-height: 1.5em;
  padding-right: 100px;
}
#home > section {
  width: 1200px;
  margin: auto;
  padding: 100px 0;
}
#home > section > .banner {
  margin-bottom: 40px;
  text-align: center;
}
#home > section > h2 {
  font-size: 50px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#home > section p {
  font-size: 30px;
  line-height: 1.7em;
}
#home > section p a {
  color: #BFC500;
}
#home > section > .loadmap {
  margin-top: 100px;
}
#home > section > .loadmap > h3 {
  color: #00DCFF;
  text-shadow: 5px 5px 5px #656565;
  font-size: 50px;
  font-family: DungGeunMo;
}
#home > section > .loadmap > p {
  background-color: #121013;
  height: 195px;
}
#home > section > .loadmap:nth-child(odd) > h3 {
  text-align: right;
}
#home > section > .loadmap:nth-child(2) > p {
  border: 5px solid #4B6F67;
  box-shadow: 15px 15px 10px 0px #4b6f67;
}
#home > section > .loadmap:nth-child(3) > p {
  border: 5px solid #756946;
  box-shadow: 15px 15px 10px 0px #756946;
}
#home > section > .loadmap:nth-child(4) > p {
  border: 5px solid #4F5258;
  box-shadow: 15px 15px 10px 0px #4f5258;
}
#home > section > .loadmap:nth-child(5) > p {
  border: 5px solid #707070;
  box-shadow: 15px 15px 10px 0px #00dcff;
}
#home > section > .video {
  margin: auto;
  margin-top: 100px;
  width: 1147px;
  display: block;
}
#home > section > .bottom-banner {
  margin-top: 120px;
  text-align: center;
}

