html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'BankGothic';
  src: url("../fonts/bankgothic.woff2") format("woff2"), url("../fonts/bankgothic.woff") format("woff");
}
@font-face {
  font-family: 'DungGeunMo';
  src: url("../fonts/neodgm.woff2") format("woff2"), url("../fonts/neodgm.woff") format("woff");
}
body {
  font-family: BankGothic;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 30px;
  min-width: 1280px;
}
a {
  text-decoration: inherit;
}
@media only screen and (max-width: 959px) {
  body {
    zoom: 0.5;
  }
}
@media only screen and (max-width: 719px) {
  body {
    min-width: auto;
  }
}
#root {
  position: relative;
}
#root > header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
#root > header > a {
  padding: 0 50px;
  color: #06BC00;
  font-size: 25px;
}
#root > header > a.ready {
  color: #6D6D6D;
}
@media only screen and (max-width: 719px) {
  #root > header {
    width: 280px;
    padding: 10px;
    top: 104px;
    left: auto;
    right: 40px;
    margin-left: 0;
    background-color: #000000;
    border: 1px solid #A1A1A1;
    display: block;
  }
  #root > header > a {
    padding: 10px 0;
    display: block;
    text-align: center;
  }
  #root > header.showing {
    display: block;
  }
  #root > header.hiding {
    display: none;
  }
}
#root > header > .language {
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 2;
  color: #BFC500;
  font-family: DungGeunMo;
  font-size: 25px;
}
#root > header > .language > select {
  color: #BFC500;
  font-family: DungGeunMo;
  background-color: #000000;
  border: none;
  font-size: 25px;
}
@media only screen and (max-width: 719px) {
  #root > header > .language {
    padding: 10px 0;
    position: relative;
    top: auto;
    right: auto;
  }
}
#root .menu-button {
  display: none;
  position: fixed;
  right: 10px;
  top: 12px;
  z-index: 2;
  padding: 10px;
  zoom: 2;
}
#root .menu-button img {
  display: block;
}
@media only screen and (max-width: 719px) {
  #root .menu-button {
    display: block;
  }
}
#root .menu-bar {
  position: absolute;
  top: 120px;
  left: 60px;
  z-index: 2;
  width: 300px;
}
#root .menu-bar > h4 {
  font-size: 50px;
}
#root .menu-bar > .menus > .menu {
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 25px;
}
#root .menu-bar > .menus > .menu.on {
  color: #FBFF72;
}
#root .menu-bar > .menus > .menu.ready {
  color: #6E6E6E;
}
#root .menu-bar > .menus > .menu > a {
  color: inherit;
}
@media only screen and (max-width: 719px) {
  #root .menu-bar {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  #root .menu-bar > .menus > .menu {
    font-size: 35px;
  }
}
#root > footer {
  margin: auto;
  margin-top: 100px;
  padding: 53.5px 0;
  width: 1280px;
  border-top: 1px solid #ffffff;
  text-align: right;
  font-family: DungGeunMo;
}
#root > footer > a {
  color: #BFC500;
}
@media only screen and (max-width: 719px) {
  #root > footer {
    width: 80%;
  }
}
#home {
  position: relative;
}
#home #logo {
  position: fixed;
  left: 50px;
  top: 0;
  z-index: 1;
}
@media only screen and (max-width: 719px) {
  #home #logo {
    left: 0px;
  }
}
#home > header {
  height: 1300px;
  background-image: url(/images/main.png);
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  margin-bottom: 100px;
}
@media only screen and (max-width: 719px) {
  #home > header {
    height: auto;
    background-size: 100% auto;
    padding: 0 60px;
  }
}
#home > header > .welcome {
  padding-top: 484px;
  font-family: DungGeunMo;
  color: #BFC500;
  text-shadow: 5px 5px 5px #656565;
  text-align: center;
  font-size: 50px;
}
@media only screen and (max-width: 719px) {
  #home > header > .welcome {
    padding-top: 400px;
    text-align: left;
    line-height: 1.5em;
  }
}
#home > header > .intro {
  margin-top: 12px;
  font-size: 30px;
  font-family: DungGeunMo;
  text-align: center;
}
@media only screen and (max-width: 719px) {
  #home > header > .intro {
    text-align: left;
    line-height: 1.5em;
  }
}
#home > header > .slogan {
  margin: auto;
  margin-top: 429px;
  width: 1130px;
}
#home > header > .slogan > img {
  float: left;
}
#home > header > .slogan > .panel {
  float: right;
  width: 900px;
  height: 200px;
  text-align: left;
  padding: 20px;
  font-size: 30px;
  line-height: 1.5em;
  padding-right: 100px;
  font-family: DungGeunMo;
  border: 5px solid #4B6F67;
  box-shadow: 15px 15px 10px 0px #4b6f67;
  background-color: #000000;
}
#home > header > .slogan > .panel-intro {
  clear: both;
  width: 1000px;
  margin: auto;
  padding-top: 40px;
  font-family: DungGeunMo;
  color: #BFC500;
  font-size: 20px;
}
@media only screen and (max-width: 719px) {
  #home > header > .slogan {
    margin-top: 80px;
    width: auto;
  }
  #home > header > .slogan > img {
    float: none;
    margin-left: 80px;
    margin-bottom: -20px;
    width: 150px;
  }
  #home > header > .slogan > .panel {
    float: none;
    width: auto;
  }
  #home > header > .slogan > .panel-intro {
    width: auto;
  }
}
#home > section {
  width: 1000px;
  margin: auto;
  padding: 80px 0;
}
@media only screen and (max-width: 719px) {
  #home > section {
    width: auto;
    padding: 80px 40px;
  }
}
#home > section > .banner {
  margin-bottom: 40px;
  text-align: center;
  line-height: 0;
}
#home > section > h2 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#home > section p {
  font-size: 20px;
  line-height: 2em;
}
@media only screen and (max-width: 719px) {
  #home > section p {
    font-size: 30px;
    word-break: break-all;
  }
}
#home > section p a {
  color: #BFC500;
}
#home > section > .loadmap {
  width: 900px;
  margin: auto;
  margin-top: 100px;
}
@media only screen and (max-width: 719px) {
  #home > section > .loadmap {
    width: auto;
  }
}
#home > section > .loadmap > h3 {
  color: #00DCFF;
  text-shadow: 5px 5px 5px #656565;
  font-size: 50px;
  font-family: DungGeunMo;
}
#home > section > .loadmap > p {
  background-color: #121013;
  height: 120px;
  padding: 20px;
}
@media only screen and (max-width: 719px) {
  #home > section > .loadmap > p {
    height: 280px;
  }
}
#home > section > .loadmap:nth-child(odd) > h3 {
  text-align: right;
}
#home > section > .loadmap:nth-child(2) > p {
  border: 5px solid #4B6F67;
  box-shadow: 15px 15px 10px 0px #4b6f67;
}
#home > section > .loadmap:nth-child(3) > p {
  border: 5px solid #756946;
  box-shadow: 15px 15px 10px 0px #756946;
}
#home > section > .loadmap:nth-child(4) > p {
  border: 5px solid #4F5258;
  box-shadow: 15px 15px 10px 0px #4f5258;
}
#home > section > .loadmap:nth-child(5) > p {
  border: 5px solid #707070;
  box-shadow: 15px 15px 10px 0px #00dcff;
}
#home > section > .video {
  margin: auto;
  margin-top: 100px;
  width: 1000px;
  display: block;
}
@media only screen and (max-width: 719px) {
  #home > section > .video {
    width: 100%;
  }
}
#mate {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
@media only screen and (max-width: 719px) {
  #mate {
    width: auto;
    padding: 180px 40px;
  }
}
#mate > h1 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#mate > section {
  margin-top: 80px;
}
#mate > section > h2 {
  font-size: 40px;
  color: #BFC500;
  margin-bottom: 40px;
}
#mate > section p {
  font-size: 20px;
  line-height: 2em;
}
@media only screen and (max-width: 719px) {
  #mate > section p {
    font-size: 30px;
    word-break: break-all;
  }
}
#mate > section p a {
  color: #BFC500;
}
#mate > section.mates > h2 {
  font-size: 29px;
}
#mate > section.mates > .all {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 719px) {
  #mate > section.mates > .all > img {
    width: 100%;
  }
}
#gallary {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
@media only screen and (max-width: 719px) {
  #gallary {
    width: auto;
    padding: 180px 40px;
  }
}
#gallary .mate-list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#gallary .mate-list > p {
  margin-top: 20px;
  text-align: center;
}
@media only screen and (max-width: 719px) {
  #gallary .mate-list > p {
    font-size: 30px;
    word-break: break-all;
  }
}
#gallary .mate-list > .mate {
  float: left;
  position: relative;
  width: 120px;
  height: 120px;
  background-size: 100% 100%;
  color: #ffffff;
}
#gallary .mate-list > .mate > span {
  position: absolute;
  left: 5px;
  bottom: 0;
  font-family: DungGeunMo;
}
#gallary .menu-bar .filter {
  display: block;
  width: 100%;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  font-size: 25px;
  font-family: BankGothic;
}
#gallary .menu-bar .reset-filter {
  margin-top: 20px;
  display: block;
  font-size: 30px;
  color: #000000;
  background-color: #FBFF72;
  box-shadow: 10px 10px 0px 0px #BFC500;
  text-transform: uppercase;
  font-weight: bold;
  padding: 24px 0;
  text-align: center;
}
#activities {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
@media only screen and (max-width: 719px) {
  #activities {
    width: auto;
    padding: 180px 40px;
  }
}
#activities > h1 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#activities > section {
  margin-top: 80px;
}
#activities > section > h2 {
  font-size: 30px;
  color: #BFC500;
  margin-bottom: 10px;
}
#activities > section > h2.ready {
  color: #6E6E6E;
}
#activities > section > h2 > a {
  color: inherit;
}
#activities > section p {
  font-size: 20px;
  line-height: 2em;
}
@media only screen and (max-width: 719px) {
  #activities > section p {
    font-size: 30px;
    word-break: break-all;
  }
}
#activities > section p a {
  color: #BFC500;
}
#dogesound {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
@media only screen and (max-width: 719px) {
  #dogesound {
    width: auto;
    padding: 180px 40px;
  }
}
#dogesound > .top-image {
  display: block;
  margin: auto;
}
#dogesound > section {
  margin-top: 80px;
}
#dogesound > section > h2 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#dogesound > section p {
  font-size: 20px;
  line-height: 2em;
}
@media only screen and (max-width: 719px) {
  #dogesound > section p {
    font-size: 30px;
    word-break: break-all;
  }
}
#dogesound > section p a {
  color: #BFC500;
}
#dogesound > section p .important {
  margin-left: 5px;
  color: #DF3737;
  text-decoration: underline;
}
#terms {
  width: 1000px;
  padding: 180px 0;
  margin: auto;
}
@media only screen and (max-width: 719px) {
  #terms {
    width: auto;
    padding: 180px 40px;
  }
}
#terms > h1 {
  font-size: 40px;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 5px 5px 5px #656565;
  margin-bottom: 40px;
  text-align: center;
}
#terms > section {
  margin-top: 80px;
}
#terms > section > h2 {
  font-size: 40px;
  color: #BFC500;
  margin-bottom: 40px;
}
#terms > section p {
  font-size: 20px;
  line-height: 2em;
}
@media only screen and (max-width: 719px) {
  #terms > section p {
    font-size: 30px;
    word-break: break-all;
  }
}
#terms > section p a {
  color: #BFC500;
}
.rank-list {
  max-height: 500px;
  overflow-y: scroll;
}
@media only screen and (max-width: 719px) {
  .rank-list {
    overflow-x: scroll;
  }
}
.rank-list table {
  width: 100%;
}
@media only screen and (max-width: 719px) {
  .rank-list table {
    width: 1280px;
  }
}
.rank-list table thead {
  color: #BFC500;
}
.rank-list table thead th {
  text-align: left;
  padding-bottom: 40px;
}
.rank-list table tbody {
  font-family: DungGeunMo;
}
.rank-list table tbody td {
  padding: 5px 0;
}
.doge-sound-contest > .message {
  width: 760px;
  margin: auto;
  margin-bottom: 60px;
}
@media only screen and (max-width: 719px) {
  .doge-sound-contest > .message {
    width: auto;
  }
}
.doge-sound-contest > .message > h4 {
  font-family: DungGeunMo;
  color: #BFC500;
  font-size: 40px;
  line-height: 1.2em;
}
.doge-sound-contest > .message > p {
  margin-top: 60px;
  font-family: DungGeunMo;
}
@media only screen and (max-width: 719px) {
  .doge-sound-contest > .message > p {
    word-break: break-all;
  }
}
.doge-sound-contest > .holiday-vote-button {
  display: block;
  text-align: center;
  width: 180px;
  padding: 15px 0;
  margin: auto;
  color: #000000;
  font-family: DungGeunMo;
  background-color: #AFAFAF;
  font-weight: bold;
}
.period-triangle {
  position: relative;
  height: 670px;
}
.period-triangle > img {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 140px;
}
.period-triangle h5 {
  position: absolute;
  font-family: DungGeunMo;
  font-size: 30px;
  width: 400px;
  text-align: center;
}
.period-triangle h5.holiday {
  left: 50%;
  margin-left: calc(-200px + 200px);
  top: 420px;
  transform: rotate(-60deg);
}
.period-triangle h5.register {
  left: 50%;
  margin-left: calc(-200px - 200px);
  top: 420px;
  transform: rotate(60deg);
}
.period-triangle h5.vote {
  left: 50%;
  margin-left: -200px;
  top: 80px;
}
.period-triangle h5.on {
  color: #BFC500;
}
.register-candidate-form > span {
  display: block;
  font-family: DungGeunMo;
  font-size: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 719px) {
  .register-candidate-form > span {
    font-size: 30px;
  }
}
.register-candidate-form > input.slogan {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  font-family: DungGeunMo;
  padding: 10px;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 20px;
}
@media only screen and (max-width: 719px) {
  .register-candidate-form > input.slogan {
    font-size: 30px;
  }
}
.register-candidate-form > .count-form {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 719px) {
  .register-candidate-form > .count-form {
    display: block;
  }
}
.register-candidate-form > .count-form > input {
  display: block;
  color: #ffffff;
  background-color: transparent;
  font-family: DungGeunMo;
  padding: 10px;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 20px;
  width: 180px;
}
@media only screen and (max-width: 719px) {
  .register-candidate-form > .count-form > input {
    font-size: 30px;
    width: 220px;
    margin: auto;
  }
}
.register-candidate-form > .count-form > span {
  display: block;
  font-family: DungGeunMo;
  padding: 22px 30px 0;
  font-size: 20px;
}
@media only screen and (max-width: 719px) {
  .register-candidate-form > .count-form > span {
    font-size: 30px;
    width: 220px;
    padding: 30px 0;
    text-align: center;
    margin: auto;
  }
}
.register-candidate-form > .count-form > a {
  display: block;
  font-size: 30px;
  color: #000000;
  background-color: #FBFF72;
  box-shadow: 10px 10px 0px 0px #BFC500;
  text-align: center;
  width: 180px;
  padding: 15px 0;
  font-family: DungGeunMo;
  font-weight: bold;
}
@media only screen and (max-width: 719px) {
  .register-candidate-form > .count-form > a {
    width: 220px;
    margin: auto;
  }
}
.vote-button {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 719px) {
  .vote-button {
    display: block;
  }
}
.vote-button > input {
  display: block;
  color: #ffffff;
  background-color: transparent;
  font-family: DungGeunMo;
  padding: 10px;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 20px;
  width: 180px;
}
@media only screen and (max-width: 719px) {
  .vote-button > input {
    font-size: 30px;
    width: 220px;
    margin: auto;
  }
}
.vote-button > span {
  display: block;
  font-family: DungGeunMo;
  padding: 22px 30px 0;
  font-size: 20px;
}
@media only screen and (max-width: 719px) {
  .vote-button > span {
    font-size: 30px;
    width: 220px;
    padding: 30px 0;
    text-align: center;
    margin: auto;
  }
}
.vote-button > a {
  display: block;
  font-size: 30px;
  color: #000000;
  background-color: #FBFF72;
  box-shadow: 10px 10px 0px 0px #BFC500;
  text-align: center;
  width: 180px;
  padding: 15px 0;
  font-family: DungGeunMo;
  font-weight: bold;
}
@media only screen and (max-width: 719px) {
  .vote-button > a {
    width: 220px;
    margin: auto;
  }
}
.candidate-list {
  margin-top: 90px;
  font-size: 20px;
}
@media only screen and (max-width: 719px) {
  .candidate-list {
    font-size: 30px;
  }
}
.candidate-list > p {
  width: 760px;
  margin: auto;
  font-family: DungGeunMo;
}
@media only screen and (max-width: 719px) {
  .candidate-list > p {
    width: auto;
  }
}
.candidate-list > ul {
  margin-top: 60px;
}
.candidate-list > ul > li {
  position: relative;
  margin-bottom: 30px;
}
.candidate-list > ul > li > input {
  position: absolute;
  left: -40px;
  top: 15px;
  transform: scale(2);
}
.candidate-list > ul > li > h6 {
  font-family: DungGeunMo;
  padding: 10px;
  border: 2px solid #ffffff;
  text-align: center;
}
.candidate-list > ul > li > span {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-family: DungGeunMo;
}

